<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>留言板</title>
    
    <!-- 引入 Bootstrap 样式表 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <!-- 头部容器 -->
    <div class="header container">
        <!-- 页面标题栏 -->
        <div class="page-header">
            <h1>留言板</h1>
            <a class="btn btn-success" href="/add">发表留言</a>
            <!-- 创建按钮链接到“/add”页，设置 Bootstrap 中的成功按钮 -->
        </div>
    </div>

    <!-- 留言容器 -->
    <div class="comments container">
        <ul class="list-group">
            ^_^<!-- 占位符，表示在这里显示留言列表 -->
        </ul>
    </div>

    <script>
        function deleteMessage(index) {
            if (confirm("确定要删除这条留言吗？")) {
                fetch(`/delete/${index}`, { method: 'DELETE' })
                    .then(response => {
                        if (response.ok) {
                            window.location.reload(); // 删除成功后刷新页面
                        } else {
                            console.error('删除留言失败');
                        }
                    })
                    .catch(error => {
                        console.error('删除留言失败', error);
                    });
            }
        }
        // 接受一个要删除的留言的索引参数 `index`
        // 函数首先弹出确认对话框，询问用户是否确定要删除该留言。
        // 如果确认，则通过 `fetch` 函数向服务器发送一个 DELETE 请求，
        // 该请求的路径包含了要删除的留言的索引。
        // 删除成功（即响应状态码为 200 OK），则刷新页面，以展示更新后的留言列表；
        // 删除失败，在控制台输出错误信息。
    </script>

</body>

</html>