<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>超级无敌留言板</title>
</head>

<body>
    <div class="header container">
        <div class="page-header">
            <h1>超级无敌留言板<small>基于node开发</small></h1>
            <a class="btn btn-success" href="/submitMessage">发表留言</a>
        </div>
    </div>
    <div class="comments container">
        <ul class="list-group">
           ^_^<!-- 占位符 -->
        </ul>
    </div>
</body>

</html>